.section-text {
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    background: linear-gradient(to left, #240e7a, #c5dbf2 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}
